<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>

<script type="text/javascript">
    var onloadCallback = function() {
        grecaptcha.render('capcha', {
            'sitekey' : "6Lf8N1MUAAAAAAlfHlOVakFVT3fx4cKWAbsdOP9j"
        });
    };
</script>

</div> <%# Closing .auth-wrapper %>