<div class="auth-wrapper"> <%# closed in auth-footer %>

<% if (typeof locals.return_to_home == 'undefined' || locals.return_to_home === true) { %>
<div class="container auth-header">
    <a href="/" class="mdc-button">Return to home</a>
</div>
<% } %>