<div class="container">
    <nav class="nav-dark">
        <div class="nav-logo">
            <a href="/">
                <img class="logo" src="/images/raison-black-logo-with-text.svg" alt="Raison">
            </a>
        </div>
        <a href="/dashboard/dashboard" class="nav-section-name">
            Dashboard
        </a>
        <div class="filler"></div>
        <div class="navbar-control">
            Welcome back, <%= user.name%>
            <img src="<%= user.image %>" alt="John Doe" class="user-avatar">
        </div>
        <button href="#" class="navbar-drawer-toggle mdc-toolbar__menu-icon">
            <i class="mdi mdi-menu"></i>
        </button>
    </nav>
</div>

<aside class="mdc-drawer mdc-drawer--temporary mdc-typography">
    <div class="mdc-drawer__drawer">
        <header class="mdc-drawer__header  mdc-theme--text-primary-on-primary mdc-theme--primary-bg">
            <div class="mdc-drawer__header-content">
                <img src="https://secure.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?d=retro" alt="John Doe" class="drawer-user-avatar">
                Welcome back, John Doe.
            </div>
        </header>
        <div class="mdc-drawer__content mdc-list">
            <a class="mdc-list-item mdc-list-item--activated" href="/dashboard/dashboard">
                Dashboard
            </a>
            <a class="mdc-list-item" href="/dashboard/inbox">
                Inbox (0)
            </a>
            <a class="mdc-list-item" href="/dashboard/profile">
                Profile
            </a>
            <a class="mdc-list-item" href="/dashboard/projects">
                Projects
            </a>
            <a class="mdc-list-item" href="/dashboard/security">
                Security
            </a>

        </div>
    </div>
</aside>