<%- include('../templates/head') %>
<%- include('../components/navbar', {theme: "dark", section: {name: "Donators", url: "/donators"}, state: "Donators"}) %>

<div class="container">
    <div class="individual-profile-body">
        <div class="profile-header profile-picture">
            <img src="https://randomuser.me/api/portraits/men/64.jpg" alt="Ronald Jackson">
        </div>
        <div class="profile-header profile-name">
            <div class="name">Ronald Jackson</div>
            <div class="tagline">Joined on 1 January 1970</div>
        </div>
        <div class="profile-header profile-action">
            <span class="mdc-icon-toggle" data-mdc-auto-init="MDCIconToggle"><i class="mdi mdi-send"></i></span>
        </div>
        <div class="sections">
            <section>
                <h1>About me</h1>
                <p>Orci ornare luctus aptent risus quam commodo lacus mus vivamus sed, dolor augue platea bibendum scelerisque lacinia rhoncus consectetur sit, libero cubilia placerat hac gravida fringilla nulla et convallis.</p>
            </section>
            <section>
                <h1>Recent activities</h1>
                <ul class="activity-list">
                    <li>
                        <div class="time">12 hours ago</div>
                        <div class="content">Donated <strong>$12.34</strong> to <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Wikimedia-logo.svg" alt="logo" class="inline-logo"> <a href="/investors/wikimedia-foundation/1">Wikimedia Foundation</a>.</div>
                    </li>
                    <li>
                        <div class="time">12 hours ago</div>
                        <div class="content">Donated <strong>$12.34</strong> to <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Wikimedia-logo.svg" alt="logo" class="inline-logo"> <a href="/investors/wikimedia-foundation/1">Wikimedia Foundation</a>.</div>
                    </li>
                    <li>
                        <div class="time">12 hours ago</div>
                        <div class="content">Donated <strong>$12.34</strong> to <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Wikimedia-logo.svg" alt="logo" class="inline-logo"> <a href="/investors/wikimedia-foundation/1">Wikimedia Foundation</a>.</div>
                    </li>
                    <li>
                        <div class="time">12 hours ago</div>
                        <div class="content">Donated <strong>$12.34</strong> to <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Wikimedia-logo.svg" alt="logo" class="inline-logo"> <a href="/investors/wikimedia-foundation/1">Wikimedia Foundation</a>.</div>
                    </li>
                    <li>
                        <div class="time">12 hours ago</div>
                        <div class="content">Donated <strong>$12.34</strong> to <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Wikimedia-logo.svg" alt="logo" class="inline-logo"> <a href="/investors/wikimedia-foundation/1">Wikimedia Foundation</a>.</div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>

<%- include('../components/footer') %>
<%- include('../templates/foot') %>