<div class="comments-list">
    <div class="comment-section">
        <div class="commenter">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/vladyn/128.jpg" alt="">
            <div class="commenter-text">
                <div class="comment-author">Joelia Roman</div>
                <div class="comment-time">3 hours ago</div>
            </div>
            <div class="mdc-button"><i class="mdc-button__icon mdi mdi-thumb-up-outline"></i> 3</div>
        </div>

        <div class="comment-body article-content">
            It's very nice! Great Work!
        </div>
    </div>

    <div class="comment-section">
        <div class="commenter">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jacksonlatka/128.jpg" alt="">
            <div class="commenter-text">
                <div class="comment-author">Joelia Roman</div>
                <div class="comment-time">4 hours ago</div>
            </div>
            <div class="mdc-button"><i class="mdc-button__icon mdi mdi-thumb-up-outline"></i> 3</div>
        </div>

        <div class="comment-body article-content">
            Nice to see it
        </div>
    </div>

    <div class="comment-section">
        <div class="commenter">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/VMilescu/128.jpg" alt="">
            <div class="commenter-text">
                <div class="comment-author">David Johnson</div>
                <div class="comment-time">1 day ago</div>
            </div>
            <div class="mdc-button"><i class="mdc-button__icon mdi mdi-thumb-up-outline"></i> 3</div>
        </div>

        <div class="comment-body article-content">
            Perfect!
        </div>
    </div>

    <div class="post-comment">
        <img src="https://secure.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60" alt="John Doe" class="user-avatar">
        <form action="#" class="comment-form">
            <div class="mdc-text-field mdc-text-field--textarea">
                <textarea id="comment-body" class="mdc-text-field__input" rows="8" cols="40"></textarea>
                <label for="comment-body" class="mdc-floating-label">Leave some words...</label>
            </div>
            <input type="submit" class="mdc-button mdc-button--raised" value="Comment">
        </form>
    </div>
</div>