<footer>
    <div class="container">
        <div class="mdc-layout-grid__inner">
            <section id="footer-about-us">
            <div class="title">
                <img class="logo" src="/images/raison-white-logo-with-text.svg" alt="Raison">
            </div>
            <div class="content">
                <p>Vivamus eu elit sed sem blandit auctor vel eu nisl. Proin luctus, leo ut pulvinar ultrices, erat mauris vulputate ipsum, nec porta nisi libero sit amet justo.</p>
                <p>Designed by <a href="https://1a23.com"><img src="/images/logo4name-white.svg" alt="1A23 Studio" class="logo-1a23"></a></p>
            </div>
            </section>
            <section id="footer-stay-connected">
                <div class="title"><h2>Stay connected</h2></div>
                <div class="content">
                    <p>
                        <a href="#!" class="mdc-button social-media-button"><i class="mdi mdi-facebook"></i></a>
                        <a href="#!" class="mdc-button social-media-button"><i class="mdi mdi-twitter"></i></a>
                        <a href="#!" class="mdc-button social-media-button"><i class="mdi mdi-facebook-messenger"></i></a>
                        <a href="#!" class="mdc-button social-media-button"><i class="mdi mdi-telegram"></i></a>
                    </p>
                    <p>info@raison.1a23.studio</p>
                </div>
            </section>
            <section id="footer-recent-posts">
                <div class="title"><h2>Recent posts</h2></div>
                <div class="content">
                    <p>Cras maximus vestibulum justo</p>
                    <p>Aliquam molestie sem nec nibh fermentum ultricies</p>
                    <p>Quisque a pharetra nibh</p>
                    <p>Quisque sodales blandit quam</p>
                </div>
            </section>
            <section id="footer-get-involved">
                <div class="title"><h2>Get involved</h2></div>
                <div class="content">
                    <p>About</p>
                    <p>Careers</p>
                    <p>Team</p>
                    <p>Term of Use</p>
                    <p>Privacy Policy</p>
                </div>
            </section>
        </div>
    </div>
</footer>