<%# 
Include nav bar with the following parameters:
theme (required): "light" or "dark"
section (optional): {
    "name": Name of the section
    "url": URL to the section home
}
%>

<div class="container">
    <nav class="nav-<%= theme %>">
        <div class="nav-logo">
            <a href="/">
            <% if (theme == "light") { %>
                <img class="logo" src="/images/raison-white-logo-with-text.svg" alt="Raison">
            <% } else if (theme == "dark") { %>
                <img class="logo" src="/images/raison-black-logo-with-text.svg" alt="Raison">
            <% } %>
            </a>
        </div>
        <% if (typeof section !== 'undefined') { %>
            <a href="<%= section.url %>" class="nav-section-name">
                <%= section.name %>
            </a>
        <% } %>
        <div class="filler"></div>
        <a href="#!" class="mdc-button">Sign up</a>
        <a href="#!" class="mdc-button">Log in</a>
    </nav>
</div>