<div id="footer_bar">
    <div class="container">
        <div class="grid-container">
            <div class="grid-row heading">
                <div class="grid-item">
                    <div class="heading-content">
                        <div class="md-logo">
                            <img class='img-fluid' src="images/raison-white-logo-with-text.svg" alt="Raison">
                        </div>
                    </div>

                </div>
                <div class="grid-item">
                    <div class="heading-content">
                        <h5>Stay connected</h5>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="heading-content">
                        <h5>Recent Posts</h5>
                    </div>

                </div>
                <div class="grid-item">
                    <div class="heading-content">
                        <h5>Get involved</h5>
                    </div>

                </div>
            </div>

            <div class="grid-row content">
                <div class="grid-item">Raison provides an avenue for donators to support their favorite charities, and offers investors additional business ventures to maximize the potential of startups who need it the most.</div>
                <div class="grid-item">Stay Connected</div>
                <div class="grid-item">Recent Post</div>
                <div class="grid-item">Get involved</div>
            </div>
        </div>

    </div>

</div>