<%#
The most beginning part of the html file template.
Include everything until <body>
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script> 
    <script src="/mcw/material-components-web.min.js"></script>
    -->
    <link href="mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='/normalize/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400|IBM+Plex+Sans:300,400,500,600" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>
