<%- include('../templates/head') %>

<div id="interaction-page">
    <div class="container">

        <div class="grid-container">
            <div class="heading">
                <div class="introduction">
                    <div class="title">
                        <h1>Information Technologies - Web Project </h1>
                    </div>
                    <div class="sub-title"> Make the world better.
                    </div>
                </div>
                <div class="author">
                    <div class="author-info">
                        <img class='author-image' src="https://s3.amazonaws.com/uifaces/faces/twitter/posterjob/128.jpg" alt="">
                        <div class="author-name"> By Kenneth </div>
                        <div class="time-post"> 2 days ago</div>
                    </div>

                </div>
            </div>
            <div class="information">
                <div class="content grid-item">
                    <div class="feature-image">
                        <img class="d-block img-fluid" width="100%" src="/images/b1.jpg" alt="First slide">
                    </div>

                    <div class="paragraph">
                        <p>
                            Ullam numquam sit. Aliquid laudantium in sed inventore at saepe sequi. Adipisci facere eum corporis iste ut sit. Aut aspernatur sunt ut quos.
                            Tempore mollitia dolores expedita sapiente asperiores nihil voluptatibus necessitatibus. Deleniti ut rerum reiciendis id consequatur error hic dolor tempora. Dignissimos nulla sit fugiat placeat nesciunt aut consequatur et.
                            Magnam adipisci nihil porro. Unde et porro expedita suscipit fugiat aut reprehenderit neque. Maxime vitae optio tempore.
                            <br> <br>
                            Vel animi quibusdam. Doloremque iste maxime est aperiam. Qui dolor dignissimos. A debitis ducimus.
                            Illo nihil voluptatibus magni omnis a voluptatem. Laboriosam commodi est expedita quas. Cupiditate voluptate iste in dolor. Deserunt excepturi ipsum dicta. Sit tempora beatae aut autem officiis.
                            Alias non vero dolor fuga modi. Aut consequuntur voluptatem et et recusandae unde voluptas ratione. Neque ratione nostrum voluptas laboriosam. Repudiandae ut qui minus sint molestiae quibusdam. Eveniet non quasi dolores harum quam est et laudantium.

                        </p>

                    </div>

                </div>
                <div class="interaction grid-item">
                    <div class="investor-donator">
                        <div class="card mb-3" style="max-width: 100%">
                            <div class="card-header"> Investor Information </div>
                            <div class="card-body">
                                <div class="card-title"> Status </div>
                                <b class="card-text"> In Progress </b>
                            </div>

                            <div class="card-body">
                                <div class="card-title"> Invested By </div>
                                <b class="card-text"> KP Capital </b>
                                <img src="/images/c1.png" alt="Company Logo">
                            </div>

                        </div>
                    </div>

                    <div class="section-interaction">
                        <div class="section-heading">
                            <h3>About the author</h3>
                        </div>

                        <p> Aut et distinctio est at iusto quia maxime aut doloremque. Quis officiis quasi aliquid. Omnis occaecati ducimus et saepe iste nostrum temporibus molestiae. Sunt dolores repellendus dolor nobis nihil sed repellat.
                        </p>

                    </div>

                    <div class="section-interaction">
                        <div class="section-heading">
                            <h3>Comment </h3>
                        </div>

                        <div class="comment-section">
                            <div class="commenter">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/vladyn/128.jpg" alt="">
                                <b>Joelia Roman</b>
                                <br>
                                <div class="time-post"> 3 hours ago </div>
                            </div>

                            <div class="comment">
                                it's very nice! Great Work!
                            </div>
                        </div>

                        <div class="comment-section">
                            <div class="commenter">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jacksonlatka/128.jpg" alt="">
                                <b>Joelia Roman</b>
                                <br>
                                <div class="time-post"> 4 hours ago </div>
                            </div>

                            <div class="comment">
                                Nice to see it
                            </div>
                        </div>

                        <div class="comment-section">
                            <div class="commenter">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/VMilescu/128.jpg" alt="">
                                <b>David Johnson</b>
                                <br>
                                <div class="time-post"> 1 day ago </div>
                            </div>

                            <div class="comment">
                                Perfect!
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../templates/footer_bar') %>
<%- include('../templates/foot') %>