@import "functions";
@import "@material/button/mdc-button";
@import "@material/theme/mdc-theme";
@import "@material/theme/_color-palette";
@import "@material/layout-grid/mdc-layout-grid";

.dashboard-content {
    @include make-grid();
    flex-grow: 1;
    padding-bottom: 3em;
    & > aside {
        @include mdc-layout-grid-resp-cell(3, 8, 6);
        @include mdc-layout-grid-media-query_(tablet) {
            display: none;
        }
        @include mdc-layout-grid-media-query_(phone) {
            display: none;
        }
        .mdc-button {
            width: 100%;
            justify-content: flex-start;
            margin-bottom: 1em;
            padding-left: 16px;
            padding-right: 16px;
            &.active {
                @extend .mdc-button--raised;
                @include mdc-button-container-fill-color(primary);
                @include mdc-button-ink-color(text-primary-on-dark);
            }
        }
    }
    & > .content {
        @include mdc-layout-grid-resp-cell(9, 8, 6);
        .title-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            h1 {
                flex-grow: 1;
            }
        }
        /* Dashboard */
        .numbers {
            @include make-grid(3, 3, 3);
            .number-card {
                display: flex;
                flex-direction: column;
                .number {
                    font-weight: bold;
                    font-size: 3em;
                    padding: 5px 10px;
                }
                .name {
                    color: #ffffff;
                    padding: 10px;
                }
                &#projects .name { background-color: $material-color-red-800;}
                &#feeds .name { background-color: $material-color-orange-800;}
                &#likes .name { background-color: $material-color-green-800;}
            }
        }
        ul.recent-activities {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                margin: 1em 0;
                img.avatar {
                    height: 2em;
                    width: 2em;
                    margin-right: 0.5em;
                    vertical-align: middle;
                    border-radius: 50%;
                }
            }
        }
        ul.table-list {
            display: table;
            width: 100%;
            li {
                &:before, &:after {
                    display: none;
                }
                &:not(.title-row):hover {
                    background-color: rgba(0,0,0,0.1);
                }
                display: table-row;
                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
        .mdc-typography--headline {
            margin: 1rem 0;
        }
        .avatar-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            img {
                width: 5em;
                height: 5em;
                border-radius: 50%;
                margin-right: 2em;
            }
            .mdc-button {
                @include mdc-button-container-fill-color(white);
                @include mdc-button-ink-color(text-primary-on-light);
            }
        }
        .form-element > *{
            width: 100%;
        }
        .submit-button {
            margin: 2rem 0 4rem 0;
        }
        .warning-line {
            color: $material-color-red-800;
        }
        .warning-button {
            @include mdc-button-container-fill-color($material-color-red-800);
            @include mdc-button-ink-color(text-primary-on-dark);
        }

        .thread-list {
            .mdc-list-item .mdc-list-item__text {
                .name {
                    color: black;
                }
                .time::before {
                    content: "· ";
                    font-weight: bold;
                }
            }
        }
        .chip-text-field {
            .mdc-floating-label.mdc-floating-label--float-above {
                transform: translateY(-200%) scale(0.75);
            }
            .bootstrap-tagsinput.mdc-text-field__input input{
                border: 0;
                &:focus {
                    outline: none;
                }
            }
        }
        &.thread-content {
            display: flex;
            flex-direction: column;
            min-height: 100%;
            max-height: 100vh;
            .messages {
                flex-grow: 1;
                overflow-y: scroll;
            }
            .message {
                display: flex;
                flex-direction: row;
                margin: 2em 0;
                img.avatar {
                    height: 3em;
                    width: 3em;
                    margin-right: 1em;
                    border-radius: 50%;
                }
                .sender {
                    margin-bottom: 0.5rem;
                    .author {
                        font-weight: bold;
                    }
                    .time {
                        content: "· ";
                        opacity: 0.6;
                    }
                }
                .send-form {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    height: auto;
                    align-items: flex-start;
                    .mdc-text-field {
                        flex-grow: 1;
                        margin: 0;
                        input {
                            padding: 8px 0;
                        }
                    }
                }
            }
        }
        section.project-editor {
            #banner-preview {
                background-color: rgba(0,0,0,0.1);
                background-size: cover;
                background-position: center;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 300px;
                margin: 1em 0;
                border-radius: 10px;
                &:before {
                    content: "Preview of your banner image here"; 
                    opacity: 0.6;
                    font-style: italic;
                    z-index: -1;
                }
            }
            .note-editor.note-frame {
                margin: 1em 0;
            }
        }
    }
}