@import "@material/button/mdc-button";
@import "@material/theme/mdc-theme";
@import "@material/theme/_color-palette";
@import "@material/layout-grid/mdc-layout-grid";
@import "variables";

nav {
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    .filler {
        flex-grow: 1;
    }
    .logo {
        height: 2.5em;
    }
    .mdc-button {
        margin-left: 0.5rem;
    }
    .nav-section-name {
        padding-left: 1rem;
        margin-left: 1rem;
        border-left: 1px solid #000;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 300;

    }

    .user-avatar {
        height: 2.5em;
        width: 2.5em;
        margin-left: 1em;
        border-radius: 50%;
    }

    &.nav-dark {
        .nav-section-name {
            border-left-color: $color-brand-bright;
            color: $color-brand-bright;
        }
        .mdc-button, .navbar-drawer-toggle, .mdc-icon-toggle {
            @include mdc-button-ink-color(mdc-theme-prop-value(text-primary-on-light));
        }
    }
    &.nav-light {
        .mdc-button, .navbar-drawer-toggle, .mdc-icon-toggle {
            @include mdc-button-ink-color(mdc-theme-prop-value(text-primary-on-dark));
        }
        .nav-section-name {
            border-left-color: white;
            color: white;
        }
    }
    .navbar-control {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include mdc-layout-grid-media-query_(phone) {
            display: none;
        }
        @include mdc-layout-grid-media-query_(tablet) {
            display: none;
        }
    }
    .navbar-drawer-toggle {
        font-size: 24px;
        @include mdc-layout-grid-media-query_(desktop) {
            display: none;
        }
    }
    .notification-have-unread::after {
        content: "";
        background-color: $material-color-red-700;
        border: 2px solid white;
        height: 10px;
        width: 10px;
        display: block;
        position: absolute;
        right: 5px;
        top: 5px;
        border-radius: 50%;
    }
    #menu-bar-notification {
        .mbn-header {
            display: flex;
            flex-direction: row;
            .mbn-header-title {
                flex-grow: 1;
                align-self: center;
                padding: 0 0.5em;
            }
        }
        ul.notification-list {
            margin: 0;
            padding: 0;
            list-style: none;
            .no-notification {
                opacity: 0.6;
                padding: 2em;
                font-style: italic;
                text-align: center;
            }
            .notification-card {
                margin: 0.5em;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 500px;
                img.avatar, .texts {
                    margin: 0.5em;
                }
                img.avatar {
                    height: 4em;
                    width: 4em;
                    border-radius: 50%;
                }
                .texts {
                    flex-grow: 1;
                    width: 0;
                    .time {
                        opacity: 0.6;
                        font-size: 0.9em;
                        line-height: 1;
                    }
                    .text {
                        height: 1.2em;
                    }
                }
            }
        }
    }
}

.mdc-drawer {
    .mdc-drawer__header-content {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .drawer-user-avatar {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        margin-bottom: 0.5rem;
    }
}

i.mdi {
    font-size: 24px;
}