@import "@material/layout-grid/mdc-layout-grid";
@import "variables";
@import "functions";

#search-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-body {
    width: 100%;
    padding-bottom: 3em;
    @include make-grid();
    form {
        @include mdc-layout-grid-resp-cell(12, 8, 4);
        @include make-grid();

        #advanced-search {
            @include mdc-layout-grid-resp-cell(12, 8, 4);
            @include make-grid();
        }
        #advanced-search-button-container {
            @include mdc-layout-grid-resp-cell(12, 8, 4);
            text-align: center;
        }
        .mdc-form-control {
            display: flex;
            & > div {
                flex-grow: 1;
            }
        }
        .search-query-form-control {
            @include mdc-layout-grid-resp-cell(12, 8, 4);
        }
        .search-filter-form-control {
            @include mdc-layout-grid-resp-cell(3, 4, 4);
        }
    }
    .detail-card {
        @include mdc-layout-grid-resp-cell(6, 8, 4);
    }
    .pagination {
        @include mdc-layout-grid-resp-cell(12, 8, 4);
    }

    .no-item {
        @include mdc-layout-grid-resp-cell(12, 8, 4);
    }

    #loading {
        @include mdc-layout-grid-resp-cell(12, 8, 4);
        display: none;
        align-items: center;
        justify-content: center;
    }
}
