@import "@material/layout-grid/mdc-layout-grid";
@import "variables";
@import "functions";

#startups-landing-body {
    @extend .mdc-layout-grid__inner;
    padding-bottom: 3rem;
    #highlights {
        @include mdc-layout-grid-resp-cell(12, 12, 12);
        @extend .mdc-layout-grid__inner;
        .section-title {
            @include mdc-layout-grid-resp-cell(12, 12, 12);
        }
        #highlights-carousel {
            @include mdc-layout-grid-resp-cell(12, 12, 12);
            margin-bottom: 2.5em !important;
            .carousel-control-prev, .carousel-control-next {
                max-width: 6rem;
                i {
                    font-size: 3em;
                }
            }
            .carousel-indicators {
                bottom: -2.5rem;
                z-index: inherit;
                li {
                    height: 0.5rem;
                    width: 0.5rem;
                    border-radius: 50%;
                    background-color: $color-brand-bright;
                    opacity: 0.25;
                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
    #in-your-region, #around-the-world {
       @include mdc-layout-grid-resp-cell(6, 8, 6);
        @include make-grid(1, 1, 1);
    }

    #latest-ideas {
        @include mdc-layout-grid-resp-cell(12, 12, 12);
        @include make-grid(1, 1, 1);
    }
}