@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/_carousel";
@import "../../node_modules/bootstrap/scss/_grid";
@import "../../node_modules/bootstrap/scss/_modal";
@import "../../node_modules/bootstrap/scss/_card";

@import "../../node_modules/bootstrap/scss/utilities/_screenreaders";
@import "variables";

$mdc-theme-primary: $color-brand-bright;
$mdc-theme-secondary: $color-orange-300;

$mdc-typography-font-family: $sans-font;

@import "../../node_modules/material-components-web/material-components-web";

:root {
    /* Theming for MDC */
    --mdl-theme-text-primary-on-primary: var(--mdl-theme-text-primary-on-dark);
}

@import "functions";
@import "navbar";
@import "footer";
@import "landing";
@import "startups-landing";
@import "search";
@import "auth";
@import "startups-project";
@import "dashboard";
@import "investors-business";
@import "profile";
@import "components/pagination";
@import "components/author-card";
@import "components/detail-card";
@import "components/article-content";
@import "components/comments";

html {
    width: 100%;
    height: 100%;
    font-family: $sans-font;
}

.container {
    box-sizing: border-box;
    margin-left: auto !important;
    margin-right: auto !important;
}

body {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $mono-font;
    color: #003363;
    font-weight: 400;
}

a {
    color: $color-blue-400;
}

.mdc-typography-overflow-ellipsis {
    @include mdc-typography-overflow-ellipsis();
}

.mdc-typography--button, .mdc-button {
    font-family: Roboto, sans-serif;
}

.invisible-character {
    opacity: 0.3;
}

section {
    .section-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        h1 {
            font-size: 1.8em;
            flex-grow: 1;
            margin: 0;
        }
    }
}

.mdc-button .mdc-button__icon, .mdc-button .mdc-button__icon-right {
    line-height: 1;
}

.mdc-button .mdc-button__icon-right {
    margin-left: 8px;
    margin-right: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 18px;
    vertical-align: top;
}

.mdc-text-field--with-trailing-icon:not(.mdc-text-field--outlined) .mdc-text-field__input {
    padding-left: 0;
}

.mdc-select__native-control {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.mdc-text-field.large-text-field {
    label.mdc-floating-label, input.mdc-text-field__input {
        font-size: 2em;
    }
    label.mdc-floating-label--float-above {
        transform: translateY(-60%) scale(0.4);
    }
}