@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/_carousel";
@import "../../node_modules/bootstrap/scss/_grid";
@import "../../node_modules/bootstrap/scss/utilities/_screenreaders";

@import "variables";

$mdc-theme-primary: $color-brand-bright;

$mdc-typography-font-family: $sans-font;

@import "../../node_modules/material-components-web/material-components-web";

:root {
  /* Theming for MDC */
  --mdl-theme-text-primary-on-primary: var(--mdl-theme-text-primary-on-dark);
}

@import "variables";
@import "functions";
@import "navbar";
@import "footer";
@import "landing";
@import "startup-landing";
@import "components/author-card";
@import "components/detail-card";

html, body {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-family: $sans-font;
}

.container {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $mono-font;
  color: #003363;
  font-weight: 400;
}

.mdc-typography-overflow-ellipsis {
  @include mdc-typography-overflow-ellipsis();
}

.mdc-typography--button, .mdc-button {
  font-family: Roboto, sans-serif;
}

.invisible-character {
  opacity: 0.3;
}

section {
  .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    h1 {
      font-size: 1.8em;
      flex-grow: 1;
      margin: 0;
    }
  }
}


.mdc-button .mdc-button__icon {
  line-height: 1;
}