@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

html, body {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-family: "IBM Plex Sans", "Roboto", "Helvetica", "Open Sans", "Source Sans", "Tahoma", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Mono", "Fira Mono", "Input Mono", "Roboto Mono", "Inconsolata", "Consolas", "Ubuntu Mono", monospace;
}

.invisible-character {
  opacity: 0.4;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#landing {
  width: 100%;
  height: 100%;
  .row {min-height: 100%;}
  .md-logo, .sm-logo, .desc {
    padding: 1em;
  }
  .desc {
    color: #ffffff;
    background: linear-gradient(135deg, rgba(20,30,48,1) 0%,rgba(36,59,85,1) 100%);
    h2 {
      font-weight: 200;
    }
  }
  @include media-breakpoint-up(md) { 
    .contents {
      width: 30em;
      .md-logo {
        height: 15em;
        display: flex;
        align-items: flex-end;
        img {
          min-height: 3em;
          max-height: 6em;
        }
      }
      .sm-logo {
        display: none;
      }
      .desc {
        flex-grow: 3;
      }
    }
    .md-background {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('/images/landing-background.jpeg');
      background-position: center;
      background-size: cover;
    }
    h1.coming-soon {
      padding: 20px;
      font-size: 3.5em;
      font-weight: 200;
      width: 100%;
      text-align: center;
      color: #ffffff;
      background-color: rgba(0,0,0,0.5);
    }
  }

  @include media-breakpoint-down(sm) { 
    .contents {
      width: 100%;
      .md-logo {display: none;}
      .sm-logo {
        background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/images/landing-background.jpeg');
        background-position: center;
        background-size: cover;
        padding: 1em;
        img {
          height: 5em;
        }
      }
      .desc {
        flex-grow: 1;
      }
    }
    .md-background {display: none;}
  }
}

footer {
  margin-top: 6em;
  font-size: 0.8em;
  color: #fff;
  opacity: 0.8;
  img {
    height: 1.2em;
    vertical-align: -0.1em;
  }
}