/* Color */
$color-brand-dark: #141E30;
$color-brand-bright: #243B55;

$color-blue-600: #003363;
$color-blue-500: #003E7A;
$color-blue-400: #1560A2;
$color-blue-300: #3173AD;
$color-blue-200: #4A84B7;

$color-orange-600: #E28C00;
$color-orange-500: #FFA000;
$color-orange-400: #FFAE04;
$color-orange-300: #FFBB3F;
$color-orange-200: #FFCB6C;
$color-orange-100: #FFE1A8;

/* Typography */
$sans-font: "IBM Plex Sans", "Roboto", "Helvetica", "Open Sans", "Source Sans", "Tahoma", sans-serif;
$serif-font: "IBM Plex Serif", "Roboto Serif", "Noto Serif", "Calibri", serif;
$mono-font: "IBM Plex Mono", "Fira Mono", "Input Mono", "Roboto Mono", "Inconsolata", "Consolas", "Ubuntu Mono", monospace;

