<%- include('../templates/head') %>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>


<script type="text/javascript">
    var onloadCallback = function() {
        grecaptcha.render('capcha', {
            'sitekey' : "6Lf8N1MUAAAAAAlfHlOVakFVT3fx4cKWAbsdOP9j"
        });
    };
</script>
<div id="login-signup-page">
    <div class="container">
        <button class="btn-return-home" type="button">
            RETURN TO HOME
        </button>

        <div class="grid-container">
            <div class="introduction">
                <div class="md-logo">
                    <img src="images/raison-black-logo-with-text.svg" alt="Raison">
                </div>
                <h2>Welcome back! </h2>
                <p>With in account, you can...</p>
                <div class="feature">
                    <div class="feature-item">
                        <img class="img-fluid" src="images/donation-icon.jpeg" alt="donation">
                        Donation and Charity
                    </div>
                    <div class="feature-item">
                        <img class="img-fluid" src="images/Investment-Icon.jpeg" alt="Investment">
                        Propose ideas to get invested
                    </div>
                </div>
            </div>


            <div class="form" >
                <b> SIGN IN WITH EMAIL </b>
                <hr>
                <form method="POST" action="/login">
                    <div class="form-group">
                        <label for="inputEmail4">Email</label>
                        <input type="text" class="form-control" name="inputEmail4" placeholder="Email">

                    </div>

                    <div class="form-group">

                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" name="inputPassword4" placeholder="Password">

                    </div>

                    <!--<div class="form-group">-->
                        <!--<div id="capcha"></div>-->
                    <!--</div>-->

                    <div class="form-group">
                        <a href="/signup" style="color: #1C61A0"> Don't have an account? </a>
                        <br>
                        <a href="#" style="color: #1C61A0"> Forgot your password? </a>
                    </div>


                    <button type="submit" class="btn btn-primary">SIGN IN</button>
                </form>
            </div>
        </div>
    </div>
</div>


<%- include('../components/footer') %>
<%- include('../templates/foot') %>