<%- include('../templates/head') %>
<div class="d-flex flex-row" id="landing">
    <div class="contents d-flex flex-column">
        <div class="md-logo">
            <img src="images/raison-black-logo-with-text.svg" alt="Raison">
        </div>
        <div class="sm-logo">
            <img src="images/raison-white-logo-with-text.svg" alt="Raison">
        </div>
        <div class="desc">
            <p>
                Raison provides an avenue for donators to support their 
                favorite charities, and offers investors additional business ventures
                to maximize the potential of startups who need it the most.
            </p>
            <h2>Team Members</h2>
            <ul>
                 <li>Jin Han</li>
                 <li>Pham Nhat Tuong</li>
                 <li>Raymond Siu</li>
            </ul>
            <h2>Learn more...</h2>
            <a href="#!" class="btn btn-outline-light">Coming soon!</a>
            <footer>
                Written and Designed by <a href="https://1a23.com"><img src="images/logo4name-white.svg" alt="1A23 Studio"></a>.
            </footer>
        </div>
    </div>
    <div class="md-background">
        <h1 class="coming-soon">Coming soon...</h1>
    </div>
</div>
<%- include('../templates/foot') %>